# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Personal folders and files
.git/

build/
cmake-build-debug/
.idea/

results/data/

results/critical-temperature/*.txt
results/critical-temperature/*.png
results/equal-time-measurments/*.txt
results/equal-time-measurments/*.png
results/fermi-surface/*.txt
results/fermi-surface/*.png
