# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Personal folders and files
.git/
.idea/
build/
cmake-build-debug/
results/rhos_L_6/
results/rhos_L_8/
results/critical-temperature/*.txt
results/double-occu-over-Temp/*.txt
results/double-occu-over-U/*.txt
results/fermi-surface/*.txt

